.root {
  &:hover .controls {
    opacity: 1;
  }
}

.indicators {
  gap: 0.375rem;
  bottom: calc(1rem - 1px);
}

.indicator {
  width: 0.5rem;
  height: 0.5rem;
  transition: width 250ms ease;
  border-radius: 9999px;
}

.indicator[data-active] {
  width: 2.5rem;
}

.control {
  border: none;
}

.control[data-inactive] {
  opacity: 0;
  cursor: default;
}

.controls {
  transition: opacity 150ms ease;
  top: auto;
  bottom: 0.063rem;
  justify-content: end;

  @media (min-width: 768px) {
    opacity: 0;
    gap: 1.25rem;
  }

  @media not all and (min-width: 640px) {
    display: none;
  }
}
