.mt_viewer {
  overflow: hidden;
}

.mt_container {
  display: flex;
}

.mt_horizontal {
  flex-direction: row;
}

.mt_vertical {
  height: 100vh;
  flex-direction: column;
}

.mt_page {
  position: relative;
  width: 100%;
  height: 100vh;
  min-width: 0;
}

.mt_single {
  flex: 0 0 100%;
}

.mt_double {
  flex: 0 0 50%;
}
