.fb_iframe_widget iframe {
  border-style: solid !important;
  border-width: 1px !important;
  position: absolute;
  border-radius: 0.375rem;
}

.fb_iframe_widget.fb_iframe_widget_fluid {
  display: flex !important;
  justify-content: center;
}

:is(.dark) :where(.fb_iframe_widget) iframe {
  border-color: rgb(63 63 70) !important;
}
