.thumbnail-wrapper.active {
  border: 2px solid !important;
  border-color: rgb(249 115 22) !important;
  border-radius: 0.375rem;
}
.image-gallery-thumbnail {
  transition: border 0.2s ease-out !important;
}

.image-gallery-thumbnail:hover {
  border: 2px solid !important;
  border-color: rgb(249 115 22) !important;
  border-radius: 0.375rem;
}

.image-gallery-thumbnails-container > *:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media (max-width: 640px) {
  .image-gallery-thumbnail {
    width: fit-content !important;
  }
  .image-gallery-thumbnails-container > *:not(:last-child) {
    margin-bottom: 0;
    margin-right: 0.5rem;
  }
}
